<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="2"
      android:versionName="3.0" package="com.music"
      android:configChanges="keyboard|keyboardHidden|orientation">
      <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="22" />
     
    <application android:icon="@drawable/cc" android:label="@string/app_name">
      
        <activity android:label="@string/app_name" android:name=".WeDance"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TrackListActivity"
             android:launchMode="singleTask">
            
            </activity>
  <service android:exported="false" android:name="com.music.ServiceMusic">
            <intent-filter>
                <action android:name="com.music.action.TOGGLE_PLAYBACK" />
                <action android:name="com.music.action.PLAY" />
                <action android:name="com.music.action.PAUSE" />
                <action android:name="com.music.action.SKIP" />
                <action android:name="com.music.action.REWIND" />
                <action android:name="com.music.action.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.music.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>

        <receiver android:name="com.music.ReceiveIntent">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        
    </application>
 	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
</manifest> 